*{
    color:#050001;
    font-family: 'Note';
}
@font-face {
    font-family: 'Note';
    src:url('fonts/Note.ttf');
  }
  
  
.header{
    text-align: center;
    background: #FFDCE0;
    padding: 20px;
    border-radius: 0 0 20px 20px;
}

#mg img{
    padding: 10px;
    width:400px;
    margin:0;
    height: auto;
}
.header button{
    background: #fd7521;
}
.header button:hover{
    background: #fef39f;
}