* {
  color: #333;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px;
}

::-moz-scrollbar {
  width: 5px;
}

::-ms-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #64616e;
}

::-moz-scrollbar-thumb {
  background: #64616e;
}

::-ms-scrollbar-thumb {
  background: #64616e;
}
/* Navbar */
@font-face {
  font-family: "Note";
  src: url("./fonts/Note.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Berolina";
  src: url("./fonts/Berolina.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Alice";
  src: url("./fonts/Alice.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Josefin Slab";
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Slab.woff2") format("woff2");
}
.NavbarContainer {
  position: sticky;
  top: 0px;
  z-index: 5;
}
.NavbarContainer hr {
  margin: 0;
  color: gold;
  opacity: 90%;
  border-width: 2.5px;
}

.Navbar {
  display: flex;
  gap: 30px;
  padding: 25px;
  margin: 0;
  background-image: linear-gradient(
    -225deg,
    #a445b2 0%,
    #d41872 52%,
    #ff0066 100%
  );
  opacity: 96%;
  width: 100%;
  overflow: hidden;
  align-items: baseline;
  transition: all 0.3s ease-in-out;
  flex-flow: row wrap;
}
.Navbar button {
  font-family: "Alice";
  background: none;
  border: none;
  text-shadow: #01030f 1px 1px 1px;
  padding: 8px;
  border-radius: 5px;
  font-size: 28px;
  transition: all ease-in-out 0.2s;
  color: #fff;
}
.Navbar :first-child:hover {
  text-shadow: gold 0px 0px 20px;
}
.Navbar button:hover {
  box-shadow: #333 1px 1px 4px;
}

.Navbar :first-child {
  margin-right: auto;
  text-shadow: #01030f 1px 1px 1px;
  font-size: 40px;
  transition: all ease-in-out 0.2s;
  color: #fff;
  font-family: "Note";
}
@media (max-width: 768px) {
  .Navbar {
    padding: 20px;
    gap: 15px;
  }

  .Navbar button {
    font-size: 24px;
  }
  .Navbar :first-child {
    font-size: 36px;
  }
}

@media (max-width: 568px) {
  .Navbar {
    padding: 15px;
  }
  .Navbar button {
    font-size: 20px;
  }
  .Navbar :first-child {
    font-size: 32px;
  }
}

/* Profile */
.Profile {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  justify-content: space-around;
  padding-top: 20px;
}

#mgimg {
  margin: 10px;
  width: 25%;
  max-width: fit-content;
  overflow: hidden;
  border-radius: 5px;
}
#mgimg img {
  filter: brightness(120%);
  filter: contrast(120%);
  width: 100%;
  height: 100%;
  display: block;
}

.ProfileContainer,
#mgimg {
  transition: all ease-in-out 0.2s;
  box-shadow: #01030f 0px 0px 4px;
}
#mgimg:hover,
.ProfileContainer:hover {
  box-shadow: 0px 0px 3px 3px rgba(82, 82, 82, 0.75);
  -webkit-box-shadow: 0px 0px 3px 3px rgba(82, 82, 82, 0.75);
  -moz-box-shadow: 0px 0px 2px 3px rgba(82, 82, 82, 0.75);
}
.ProfileContainer {
  width: 70%;
  max-width: fit-content;
  padding: 20px;
  background-image: linear-gradient(
    -225deg,
    #7742b2 0%,
    #f180ff 52%,
    #fd8bd9 100%
  );
  border-radius: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-flow: column;
}
.ProfileContainer p {
  font-family: "Alice";
  font-size: 22px;
  word-spacing: 3px;
  margin-top: 40px;
  text-shadow: #01030f 1px 1px 1px;
  color: #fff;
  text-align: justify;
}
.ProfileContainer h1 {
  font-family: "Josefin Slab";
  margin-top: 34px;
  color: #fff;
  text-shadow: #01030f 1px 1px 1px;
  font-size: 35px;
}
@media (max-width: 875px) {
  .Profile {
    flex-flow: wrap column;
  }
  .ProfileContainer {
    justify-content: center;
    border-radius: 0;
    border-top: #333 solid 2px;
    border-bottom: #333 solid 2px;
    margin: 0px auto;
    width: 90%;
  }
  .ProfileContainer p {
    font-size: 20px;
    margin-top: 20px;
  }
  #mgimg {
    margin: 20px auto;
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 530px) {
  #mgimg {
    height: 300px;
  }
}
@media (max-width: 430px) {
  #mgimg {
    height: 300px;
  }
  .ProfileContainer p {
    font-size: 18px;
  }
  .ProfileContainer h1 {
    font-size: 28px;
  }
}
