html {
  scroll-behavior: smooth;
}
/* Navbar */
@font-face {
  font-family: "Note";
  src: url("./fonts/Note.ttf");
}
@font-face {
  font-family: "Berolina";
  src: url("./fonts/Berolina.ttf");
}
@font-face {
  font-family: "Alice";
  src: url("./fonts/Alice.ttf");
}
* {
  margin: 0;
  padding: 0;
}
.NavbarContainer {
  position: sticky;
  top: 0px;
  z-index: 5;
}
.NavbarContainer hr {
  margin: 0;
  color: #2be00b;
  border-width: 3px;
}

.Navbar {
  display: flex;
  gap: 30px;
  padding: 25px;
  margin: 0;
  background: #f5f7ff;
  width: 100%;
  overflow: hidden;
  align-items: baseline;
  transition: all 0.3s ease-in-out;
  flex-flow: row wrap;
}
.Navbar span {
  font-family: "Alice";
  font-size: 30px;
  transition: all ease-in-out 0.2s;
  color: #333;
}
.Navbar :hover {
  text-shadow: #2be00b 1px 1px 40px;
}
.NavbarContainer :not(h1, span):hover {
  box-shadow: #333 1px 1px 10px;
}
.Navbar :first-child {
  margin-right: auto;
  font-size: 38px;
  transition: all ease-in-out 0.2s;
  color: #333;
  font-family: "Note";
}
@media (max-width: 768px) {
  .Navbar {
    padding: 20px;
    gap: 15px;
  }

  .Navbar span {
    font-size: 25px;
  }
  .Navbar :first-child {
    font-size: 32px;
  }
}

@media (max-width: 568px) {
  .Navbar {
    padding: 15px;
    gap: 10px;
  }
  .Navbar span {
    font-size: 20px;
  }
  .Navbar :first-child {
    font-size: 28px;
  }
}

/* Profile */
.Profile {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  justify-content: space-evenly;
}

#mgimg {
  margin: 10px;
  width: 30%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  align-items: baseline;
}
#mgimg img {
  filter: brightness(120%);
  filter: opacity(95%);
  width: 100%;
  height: auto;
  display: block;
}

.ProfileContainer,
#mgimg {
  transition: all ease-in-out 0.2s;
  box-shadow: #01030f 0px 0px 10px;
}
#mgimg:hover,
.ProfileContainer:hover {
  box-shadow: 0px 0px 52px 3px rgba(173, 173, 173, 0.75);
  -webkit-box-shadow: 0px 0px 52px 3px rgba(173, 173, 173, 0.75);
  -moz-box-shadow: 0px 0px 52px 3px rgba(173, 173, 173, 0.75);
}
.ProfileContainer {
  width: 60%;
  max-width: fit-content;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
.ProfileContainer p {
  font-family: "Alice";
  font-size: 22px;
  text-align: center;
}
@media (max-width: 600px) {
  #mgimg {
    display: none;
  }
  .ProfileContainer {
    justify-content: center;
    margin: 10px auto;
    width: 90%;
  }
}
